.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file
        Stock Transfer Request
        %small
          %i.fa.fa-arrow-right
          New
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: company_stock_transfer_requests_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'Stock Transfer Request' }
        %i.fa.fa-reply
  = render 'form', stock_transfer_request: @stock_transfer_request
