.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file
        Branch Stock
        %small
          %i.fa.fa-arrow-right
          New
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: company_branch_stocks_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'Branch Stocks' }
        %i.fa.fa-reply
  = render 'form', branch_stock: @branch_stock
