.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file
        Invoice
        %small
          %i.fa.fa-arrow-right
          New
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: company_invoices_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'Invoices' }
        %i.fa.fa-reply
  = render 'form', invoice: @invoice, url: company_invoices_path
