/*
 *= require select2/select2.min
 *= require select2/select2-bootstrap.min
 *= require fontawesome/all.min
 *= require bootstrap/datetimepicker.min
 *= require daterangepicker/daterangepicker
 *= require jquery-ui/jquery-ui
 *= require new_theme/toastr.min
 *= require jquery-tags/jquery-tags
 *= require trix
 *= require new_theme/adminlte
 */
