:javascript
  $(document).ready(function(){
    var success_msg = "#{flash[:success]}";
    var alert_msg   = "#{flash[:alert]}";
    var delete_msg  = "#{flash[:delete]}";
    var notice_msg  = "#{flash[:notice]}";

    if (success_msg) toastr.success(success_msg);
    if (alert_msg)   toastr.warning(alert_msg);
    if (delete_msg)  toastr.error(delete_msg);
    if (notice_msg)  toastr.info(notice_msg);
  });
