.content-wrapper{style: "min-height: 1604.44px;"}
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1 Customer / Edit
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            %a.btn.btn-sm.btn-primary{ href: company_customers_path, data: { toggle: 'tooltip', placement: 'left '}, title: 'Customers' }
              %i.fa.fa-reply

  = render 'form', customer: @customer
